<script type="text/javascript" src="/js/jquery.verify_values.js"></script>
<script type="text/javascript">
var wiki_interval, wiki_last_preview = '';

$(function () {
	$('#edit-form').verify_values ({
		handler: 'wiki/edit',
		callback: function (failed) {
			// highlight the failed elements
			for (var i = 0; i < failed.length; i++) {
				$('#' + failed[i] + '-notice').show ();
			}
		},
		reset: function (fields) {
			for (var i = 0; i < fields.length; i++) {
				$('#' + fields[i] + '-notice').hide ();
			}
		}
	});
	$('.notice').hide ();
	{% foreach failed %}
	$('#{{ loop_value }}-notice').show ();
	{% end %}

	$('#extra-options').hide ();
	wiki_interval = setInterval (function () {
		if ($('#extra-options').css ('display') == 'none') {
			return;
		}
		var body = $('#wiki-body').val ();
		console.log (body);
		if (body != wiki_last_preview) {
			wiki_last_preview = body;
			$.post ('/wiki/preview', {body: body}, function (res) {
				document.getElementById ('preview').contentDocument.body.innerHTML = res;
			});
		}
	}, 2000);
});
function wiki_preview (link) {
	var eo = $('#extra-options');
	if (eo.css ('display') == 'none') {
		eo.slideDown ('fast', function () {
			window.scrollTo (0, 1000);
		});
		$(link).find ('.arrow').removeClass ('arrow-off');
	} else {
		eo.slideUp ('fast', function () {
			$(this).css ('display', 'none');
		});
		$(link).find ('.arrow').addClass ('arrow-off');
	}
	return false;
}
</script>

<form method="POST" id="edit-form">
<p>Page ID:<br /><input type="text" name="id" size="50" value="{{ id }}" />
<span class="notice" id="id-notice">You must enter a page ID.</span></p>
<p>Body (use <a href="http://daringfireball.net/projects/markdown/syntax" target="_blank">Markdown</a> for formatting): <span class="notice" id="body-notice">You must enter body content.</span><br />
<textarea name="body" id="wiki-body" cols="85" rows="28">{{ body }}</textarea></p>
<h5><a href="#" onclick="return wiki_preview (this)" class="extra-options-link"><span class="arrow arrow-off"></span>{"Preview"}</a></h5>
<div id="extra-options">
<p><iframe src="/wiki/preview" id="preview" frameborder="0" width="620" height="300" style="border: 1px solid #aaa"></iframe></p>
</div>
<p>
	<input type="submit" value="Save Page" /> &nbsp;
	<a href="/wiki/{{ dashed }}" onclick="return confirm ('Are you sure you want to cancel and lose any changes?')">Cancel</a>
</p>
</form>
