<style>
div#wiki-body pre {
	display: inline;
}
div#wiki-body code {
	border: 1px solid #ddd;
	background: #fff;
	color: #000;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	padding: 2px;
}
div#wiki-body pre>code, div#wiki-body div.syntax-container {
	display: block;
	padding: 2px 3px 2px 4px;
	margin-bottom: 16px;
}
div#wiki-body blockquote {
	margin-left: 16px;
	padding-left: 5px;
	color: #666;
	font-style: italic;
	border-left: 5px solid #ccc;
}
div#wiki-body div.syntax-container div.toolbar {
	display: none;
}
div#wiki-body div.syntax {
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	background: #fff !important;
}
</style>
<script>
$(function ($) {
	var syntax_root = '/apps/wiki/js/jquery-syntax/';
	if ($('pre>code').length) {
		$.getScript (syntax_root + 'jquery.syntax.min.js', function () {
			$.syntax ({root: syntax_root, blockSelector: 'pre>code', blockLayout: 'plain'});
		});
	}
});
</script>

{% if editable %}
<p id="wiki-links">
<a href="/wiki//edit">{"New page"}</a> |
<a href="/wiki/{{id}}/edit">{"Edit page"}</a>
{% if User::require_admin () %} |
<a href="/admin/versions?type=Wiki&id={{id}}">{"Version history"}</a>
{% end %} |
<a href="/wiki/pages">{"All pages"}</a>
</p>
{% else %}
<p id="wiki-links">
<a href="/wiki/pages">{"All pages"}</a>
</p>
{% end %}

<div id="wiki-body">
{{ body|none }}
</div>
